@font-face {
    font-family: 'Yandex Sans';
    src: local('Yandex Sans Text Regular Italic'), local('Yandex-Sans-Text-Regular-Italic'),
        url('YandexSansText-RegularItalic.woff2') format('woff2'),
        url('YandexSansText-RegularItalic.woff') format('woff'),
        url('YandexSansText-RegularItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
  }